/*----------------------------------------------------------------------------* 
 *               All of my the top of my webpage or header css will go below  *
 *--------------------------------------------------------------- ------------*/

/* ---------------------------------------------------------------------------*   
 *                Prevent adjustments of font size after orientation          *
 *                changes in IE on Windows Phone and in iOS.                  *
 *  --------------------------------------------------------------------------*/

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- google fonts --------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/*----------- small viewport display ----------------------------------------*/
/* 30em is also 1028px when basefont is 16px */

@media only screen and (min-width: 15em){
header {
    background-color: #6495ED;
    height: 30vh;
    margin: -2.25vh;
    margin-bottom: 4vh;

}

h1 {
    text-align: right;
    padding-top: 4vh;
    transform: scaleY(1.5);
}

h1 a {
    color: #FAEBD7;
    font-family: 'Lora', serif;
    font-size: 30px;
    text-decoration: none;
    padding-right: 16vw;

}

h2 {
    transform: scaleY(1.5);
    
}


h2::after {
    margin-left: 8vw;
}

h2 a {
    font-family: 'Lora', serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-left: 4vw;
    text-align: left;
    position: relative;
    display: flex;
   
    
   
   
}

h2 a:active {
    color: #DEB887;
}

h2 a:hover {
    color: #6495ED;
    text-decoration: underline;

}

nav {
    text-align: right;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bolder;
    color: #FAEBD7;
    padding-right: 16vw;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #FAEBD7;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
}

hr {
    width: 71%;
    padding-left: 16vw;


}

/*-------- All of my the middle of my webpage or main css will go below ------*/
body {
    width: 100%;
    background-color: #FAEBD7;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: auto;
}

main {
    width: 85vw;
    justify-items: center;
    align-items: center;
    margin: auto;
    background-color: #FAEBD7;
}

Article {
    background-color: white;
    width: 88vw;
    Height: 65vh;
    margin-top: 4vh;

    box-shadow: 3px 3px rgba(56, 56, 56, 0.1);
}

.post-date {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: black;
    opacity: 70%;
    margin-left: 4vw;
    padding-top: 4vh;
}

p {
    color: black;
    text-align: left;
    margin-left: 4vw;
    font-size: 15px;

}

p a{
    color:#6495ED;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

p a:active{
    color: #DEB887;
}


/* ------------ this area is to be used for all images ---------------------- */
img {
    width: 50vw;
    height: 30vh;
    margin-left: 5vw;
    margin-top: 4vh;
}





/*----- All of my the bottom of my webpage or footer css will go below --------*/


/*-----           Clearfix: Force an Element not to collapse              -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
}
/*------------------                   end of small           --------------------*/

/*----------- large viewport display ----------------------------------------*/
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64em) {

    body{
        width: 100%;
    }

    header{
        float: left;
        width: 15%;
        height: 140vh;
        position:absolute;
    }

    h1{
        text-align: left;
        margin-left: 4vw;
          
            
    }

nav{
    padding-right: 2vw;
}

    main{
        float: right;
        width: 85%;
        
    }
article{
    width: 33vw;
    margin-left: 4vw;
}

hr{
    width: 65%;
    padding-left: 0;
    margin-left: 3vw;
}

img{
    width:10vw;
    margin-left: 9vw;
}

p{
    margin-left: 2vw;
    margin-right: 2vw;
    
}

}