/*----------------------------------------------------------------------------* 
 *               All of my the top of my webpage or header css will go below  *
 *--------------------------------------------------------------- ------------*/

/* ---------------------------------------------------------------------------*   
 *                Prevent adjustments of font size after orientation          *
 *                changes in IE on Windows Phone and in iOS.                  *
 *  --------------------------------------------------------------------------*/

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- google fonts --------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

header {
    background-color: #6495ED;
    height: 30vh;
    margin: -2.25vh;

}

h1 {
    color: black;
    text-align: right;
    padding-top: 4vh;
    padding-right: 8vw;
}

h1 a {
    color: black;
    font-family: 'Lora', serif;
    text-decoration: none;
    padding-right: 4vw;
}

nav {
    text-align: right;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bolder;
    color: #FAEBD7;
    padding-right: 8vw;
}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #FAEBD7;
}

nav ul li.active a {
    color: #DEB887;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
}

hr {
    width: 90%;
    text-align: right;
}

/*-------- All of my the middle of my webpage or main css will go below ------*/
body {
    max-width: 100%;
    background-color: linen;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: auto;
}

main {
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    margin: auto;
    background-color: #FAEBD7;
}

Article {
    background-color: white;
    width: 100vw;
    Height: 60vh;
}






/* ------------ this area is to be used for all images ---------------------- */
img {
    max-width: 100%;
}

.large {
    display: none;
}

.small-view {
    padding: 35px;

}



/*----- All of my the bottom of my webpage or footer css will go below --------*/
footer {
    background-color: #00ced1;
    font-weight: bolder;
}

/*-----           Clearfix: Force an Element not to collapse              -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*------------------                   end of small           --------------------*/